*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/README.md
.idea/markdown-navigator.xml
.idea/modules/
SlideingMenu/library/build/generated/assets/
SlideingMenu/library/build/generated/res/
SlideingMenu/library/build/generated/source/aidl/
SlideingMenu/library/build/generated/source/apt/
SlideingMenu/library/build/generated/source/rs/
SlideingMenu/library/build/intermediates/bundles/debug/aidl/
SlideingMenu/library/build/intermediates/bundles/debug/assets/
SlideingMenu/library/build/intermediates/bundles/debug/classes.jar
SlideingMenu/library/build/intermediates/bundles/debug/jni/
SlideingMenu/library/build/intermediates/bundles/debug/libs/
SlideingMenu/library/build/intermediates/bundles/default/aidl/
SlideingMenu/library/build/intermediates/bundles/default/assets/
SlideingMenu/library/build/intermediates/bundles/default/jni/
SlideingMenu/library/build/intermediates/bundles/default/libs/
SlideingMenu/library/build/intermediates/classes/.jrebel/release/_jr_secondary/
SlideingMenu/library/build/intermediates/classes/.jrebel/release/_jr_wiped/
SlideingMenu/library/build/intermediates/classes/.jrebel/release/jrebel-initial.lock
SlideingMenu/library/build/intermediates/classes/androidTest/
SlideingMenu/library/build/intermediates/classes/debug/
SlideingMenu/library/build/intermediates/incremental-safeguard/
SlideingMenu/library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
SlideingMenu/library/build/intermediates/incremental/mergeDebugJniLibFolders/
SlideingMenu/library/build/intermediates/incremental/packageDebugAndroidTest/
SlideingMenu/library/build/intermediates/incremental/processDebugAndroidTestResources/
SlideingMenu/library/build/intermediates/incremental/processDebugResources/
SlideingMenu/library/build/intermediates/incremental/processReleaseResources/
SlideingMenu/library/build/intermediates/jniLibs/
SlideingMenu/library/build/intermediates/lint/
SlideingMenu/library/build/intermediates/manifest/tmp/
SlideingMenu/library/build/intermediates/rs/
SlideingMenu/library/build/intermediates/shaders/
SlideingMenu/library/build/intermediates/transforms/mergeJavaRes/
SlideingMenu/library/build/intermediates/transforms/mergeJniLibs/
SlideingMenu/library/build/intermediates/transforms/stripDebugSymbol/debug/
SlideingMenu/library/build/jrebel/
SlideingMenu/library/build/tmp/
ViewPagerIndicator_library/
ViewPagerIndicator_sample/
app/libs/
import-summary.txt
library/
xutils3demo/libs/
xutils3demo/src/main/res/drawable/
